.ans{
    margin: 2rem 0.5rem;
    display: flex;
    justify-content: center;
}
#head{
    background-color: #8606e2;
    padding: 0.8rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    border-radius: 10px;
    display: nonereiorwh;
}
#gct{
    color: white;
    font-size: 1rem;
    background-color: #f602b1;
    padding: 0.8rem;
    font-weight: 300;
    border-radius: 10px;
    display: none;
}
#table{
    display: none;
}
#ptable{
    max-width: 70vw;
    margin: 3rem auto;
    display: none;
}
#p10{
    padding-top: 1.6rem;
    padding-bottom: 0;
    height: 5rem;
}
.answercss1{
    margin: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}
.answercss1 b{
    background-color: #0707ef;
    color: white;
    font-weight: 800;
    margin: 0.5rem;
    padding: 10px;
    border-radius: 10px;
}
#solution{
    display:none;
}
.resetbutton{
    color: white;
    background-color: rgb(181, 3, 3);
    margin: 2rem 2rem 10rem 2rem;
    display: none;
}
.resetbutton:active{
    box-shadow: 0 3px 2px rgb(92, 2, 2);
}
@media(max-width: 770px){
    #ptable{
        max-width: 90vw;
    }
}
@media(max-width: 570px){
    #p10{
        padding: 0;
        padding-top: 1rem;
        height: 4rem;
    }
    #ptable{
        max-width: 99vw;
    }
    td,th{
        height: 2.5rem;
        font-weight: 100;
        font-size: 12px;
        text-align: center;
        padding: 0.5rem 0.1rem;
        border: 1px solid black; 
    }
    .answercss1 b{
        font-size: 12px;
        font-weight: 200;
        margin: 0.2rem;
        padding: 5px;
        border-radius: 5px;
    }
    #head{
        padding: 0.5rem;
        font-size: 14px;
        font-weight: 200;
        border-radius: 8px;
    }
    #gct{
        font-size: 12px;
        padding: 5px;
        font-weight: 200;
        border-radius: 10px;
        display: none;
    }
}
