*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-color: #10d691;
}
header{
    background-color: #5409be;
    padding: 20px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 900;
    color: white;
}
.firstdiv1{
    padding: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 0;
    background-color: #d75e21;
    font-weight: bolder;
    font-size: 1.2rem;
    color: rgb(70, 12, 242);
    max-width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    box-shadow: 1px 1px 1px black;
    border-radius: 10px;
}
#firstdiv2{
    background-color: #d75e21;
    font-weight: bolder;
    font-size: 1.5rem;
    color: rgb(70, 12, 242);
    max-width: 500px;
    height: 200px;
    margin:6rem auto;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    box-shadow: 1px 1px 1px black;
    border-radius: 10px;
}
#algorithm{
    margin: 0 auto;
    height: 2.5rem;
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
    border-radius: 10px;
}
select,input{
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
    padding: 4px;
    outline: none;
}
#preemt{
    padding: 1rem;
    font-size: 1.2rem;
    max-width: 300px;
}
#preem{
    margin: 0 auto;
    height: 2.5rem;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    display: none;
}
#timeq{
    height: 2rem;
    max-width: 5rem;
    margin: 10px auto;
    font-weight: bold;
    text-align: center;
}
.k{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#timequan{
    display: none;
}
#firstsection{
    margin: 3rem 0;
    padding: 0 3rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap:1rem;
}
button{
    background-color: rgb(179, 6, 6);
    color: white;
    font-weight: bolder;
    display: block;
    margin: 0 auto;
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid rgb(232, 2, 2);
    cursor: pointer;
    transition: all 0.2s ease-in-out 0s;
}
button:active{
    color:black;
    background-color: #a41e1e;
    box-shadow: 0 3px 2px rgb(189, 22, 22);
    transform: scale(0.95);
}
table{
    border-radius: 10px;
}
#processtable{
    max-width: 950px;
    display: none;
}
.table{
    width: 100%;
}
td,th{
    height: 2.5rem;
    font-weight: 900;
    text-align: center;
    padding: 0.5rem;
    border: 2px solid black; 
    border-radius: 5px;
}
th{
    color: white;
    background-color: #065ff9;
}
td{
    background-color: #e6ee03;
}
.input{
    margin: 2rem 0;
    display: flex;
    gap: 5px;
    justify-content: space-around;
}
.inputbutton{
    gap: 1.5rem;
    justify-content: center;
}
#add{
    background-color: green;
    border: 2px solid rgba(11, 134, 2, 0.775);
}
#add:active{
    box-shadow: 0 3px 2px #17360b;
    background-color: #26a921;
}
.in{
    width: 7rem;
    height: 2rem;
    text-align: center;
}
.main{
    margin: 0;
}
.p3{
    padding-top: 10px;
}
#p1,#p2{
    display: none;
}
#gt{
    margin-top: 5rem;
    display: none;
}
.ans{
    margin: 2rem 0.5rem;
    display: flex;
    justify-content: center;
}
#head{
    background-color: #8606e2;
    padding: 0.8rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    border-radius: 10px;
    display: none;
}
#gct{
    color: white;
    font-size: 1rem;
    background-color: #f602b1;
    padding: 0.8rem;
    font-weight: 300;
    border-radius: 10px;
    display: none;
}
#table{
    display: none;
}
#ptable{
    max-width: 70vw;
    margin: 3rem auto;
    display: none;
}
#p10{
    padding-top: 1.5rem;
    padding-bottom: 0;
    height: 5rem;
    display: none;
}
.answercss1{
    margin: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}
.answercss1 b{
    background-color: #0707ef;
    color: white;
    font-weight: 500;
    margin: 0.5rem;
    padding: 10px;
    border-radius: 10px;
}
#solution{
    display:none;
}
.resetbutton{
    margin: 2rem 2rem 2rem 2rem;
    display: none;
}
@media(max-width: 770px){
    #ptable{
        max-width: 99vw;
    }
}
@media(max-width: 530px){
    #p1{
        padding: 0;
        padding-top: 1.2rem;
        height: 3.5rem;
    }
    #firstsection{
        padding: 3px;
    }
    .in{
        width: 5rem;
        font-size: 0.6rem;
    }
    button{
        font-weight:300;
        margin: 0 auto;
        padding: 5px 10px;
        border-radius: 8px;
    }
    #mainheader{
    padding: 15px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    }
    .firstdiv3{
        padding: 0.8rem;
        padding-top: 1rem;
        padding-bottom: 0;
        font-weight: 600;
        font-size: 1rem;
        max-width: 300px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        box-shadow: 1px 1px 1px black;
        border-radius: 10px;
    }
    #algorithm{
        height: 2rem;
        font-size: 10px;
        font-weight: 600;
    }
    #preem{
        height: 1.8rem;
        font-size: 10px;
        font-weight: 600;
    }
    #p10{
        height: 4rem;
    }
    td,th{
        height: 2.5rem;
        font-weight: normal;
        font-size: 12px;
        text-align: center;
        padding: 0.5rem 0.1rem;
        border: 1px solid black; 
    }
    .answercss1 b{
        font-size: 12px;
        font-weight: 200;
        margin: 0.2rem;
        padding: 5px;
        border-radius: 5px;
    }
    #head{
        padding: 0.5rem;
        font-size: 14px;
        font-weight: 200;
        border-radius: 8px;
    }
    #gct{
        font-size: 12px;
        padding: 5px;
        font-weight: 200;
        border-radius: 10px;
        display: none;
    }
}
