* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #10d691;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.feedback-container {
    background-color: #fff;
    padding: 1rem 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-size: 14px;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

button {
    padding: 10px;
    background-color: #28a745;
    border: 2px solid green;
    color: #fff;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
#thanks{
    margin-top: 6rem;
    text-align: center;
    background-color: #fff;
    padding: 20px 10px;
    border-radius: 8px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
}
a{
    text-decoration: none;
}
@media (max-width: 600px) {
    body {
        padding:0 3rem;
    }

    .feedback-container {
        max-width: 100%;
    }

    h2 {
        font-size: 20px;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        font-size: 12px;
        padding: 8px;
    }

    button {
        font-size: 14px;
        padding: 8px;
    }
}

